
<%- include("./includes/header") %> 
</head>
<body>

<%- include("./includes/navigation") %>
<% if(message.length>0){ %>
    <div class="alert">

        <%= message %>
    </div>
    <% }%>
<div class="section-hero">&nbsp;</div>
<!-- <section class="grid">
   <div >
        <h3>Working hours</h3>
        <div class="card-1 grid">
        <div>
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p>Saturday</p>
            <p>Sunday</p>
        </div>
        <div>
            <p>9 a.m. to 9 p.m.</p>
            <p>9 a.m. to 9 p.m.</p>
            <p>9 a.m. to 9 p.m.</p>
            <p>9 a.m. to 9 p.m.</p>
            <p>9 a.m. to 9 p.m.</p>
            <p>9 a.m. to 9 p.m.</p>
            <p>Holiday</p>
        </div>
    </div>
    
</div>
<div>

    <h2>Pricing policy</h2>
    <div class="card-1">
        
        <p>25% at the time of booking</p>
        <p>60% at the time of event</p>
        <p>25% after the delivery of photos</p>
        <p>Refund policy **15%**</p>
    </div>
</div>
</section> -->

<%- include("./includes/end") %>
